# Add any directories, files, or patterns you don't want to be tracked by version control

*~
*.log
*.aux
*.alg
*.acr
*.acn
*.bbl
*.bcf
*.blg
*.lof
*.out
*.pdf
*.toc
*.run.xml
*.synctex.gz
*.glo
*.gls
*.glg
*.ist
*-blx.bib
*.nav
*.snm
*.gnuplot

